
/*body{

background-color:#66BFBF;
border-block-color: red;
}
*/

h1{
color: red;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
